<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit username</title>
</head>
<body>
    <h2>You are about to edit <%=person.email %> username</h2>
    <form method="post" action="/user/<%=person.id %>?_method=PATCH">
        <textarea name="username"><%= person.username %></textarea>
        <input type="password" name="password" placeholder="enter password">
        <button>Save changes</button>
    </form>
</body>
</html>