<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rolldice</title>
</head>
<body>
    <h1>Dice gave the value 
        <%=
            Math.floor(Math.random()*6)+1
        %>
    </h1>

    <!-- now if we want the value from rolldice.js -->
     <h2>the value is <%= value %></h2>

     <!--conditional statemt using  tag-->
     <% if(value==6){ %>
        <h3>It was a sixer!! Run!!</h3>
    <% } %>

</body>
</html>